# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environmental Variables
.env
!.env.example

# Distribution / packaging
*.egg-info/
dist/
build/
